.gallery-card {
  display: flex;
  flex-direction: column;
}
.gallery-card-img {
}
.gallery-card-title {
  margin-top: 5px;
  font-weight: 500;
}
.gallery-card-price {
  font-size: 15px;
}
.gallery-card-text-container {
  display: flex;
  justify-content: flex-end;
}
